.status-container{
    width: 400px;
    position: fixed;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 5px;
    padding: 10px;
    right: 5%;
    top:12%;
    background-color: rgb(245, 249, 252);

 
    
    >h2{
        font-size: 1.2rem;
        color: rgb(71, 68, 68);
    }
}

.status-table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;


  }